h1(title='hi')!= _MAPLE.foo
h2!= _MAPLE.killer
div
  != partial('partials/maple', {locals: {e: 'p', id: "killer", maple: _DYN}})
div
  != partial('partials/maple', {locals: {e: 'p', id: "not_exist", maple: _DYN}})