div Rendering an editable element
  != partial('partials/maple', {locals: {e: 'p', id: "killer", maple: maple}})

ul List of elements
  != partial('partials/maple_list', {locals: {e: 'li', id: "stooges", partial_name: 'partials/maple', maple: maple}})